@model IEnumerable<Country>

@{
    Layout = null;
}

<div class="sub-header">
    <h2>Coutries</h2>
    <a class="btn btn-primary" asp-controller="Country" asp-action="Create">Create</a>
</div>

<table class="table table-striped">
    <tr><th>Id</th><th>Name</th><th></th><th></th></tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">No Countries</td></tr>
    }
    else
    {
        foreach (var country in Model)
        {
            <tr>
                <td>@country.Id</td>
                <td><a asp-controller="Country" asp-action="Index" asp-route-id="@country.Id">@country.Name</a></td>
                <td>
                    <form asp-controller="Country" asp-action="Delete" asp-route-id="@country.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-controller="Country" asp-action="Edit" asp-route-id="@country.Id">Edit</a>
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>