@model  IEnumerable<UserEvent>
@{
    ViewData["Title"] = "Events";
}

<link rel="stylesheet" href="~/css/notes.css" />
<link rel="stylesheet" href="~/css/tasks.css" />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a asp-action="Index">Calendar</a></li>
                <li><a asp-action="Index">Today</a></li>
                <li><a asp-action="Index">Relevance</a></li>
            </ul>
        </div>
        <div class="col-sm-9 main">
            <h1 class="page-header">
                Tasks
                <a class="btn btn-primary" asp-action="Create" asp-route-returnurl="Index">Create</a>
            </h1>

            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Begin</th>
                        <th>End</th>
                        <th>Duration</th>
                        <th>Notify</th>
                        <th>Repeat</th>
                        <th>Repeat Count</th>                        
                        <th></th>
                        <th></th>
                    </tr>
                    @if (Model.Count() == 0)
                    {
                        <tr><td colspan="3" class="text-center">No Tasks</td></tr>
                    }
                    else
                    {
                        @foreach (var userEvent in Model)
                        {
                            <tr>
                                <td>@userEvent.Id</td>
                                <td>@userEvent.Name</td>
                                <td>@userEvent.Description</td>
                                <td>@userEvent.BeginTime</td>
                                <td>@userEvent.EndTime</td>
                                <td>@(userEvent.BeginTime - userEvent.EndTime)</td>
                                <td>@userEvent.Notify</td>
                                <td>@userEvent.RepeatNotify</td>
                                <td>@userEvent.RepeatCount</td>
                                <td>
                                    <form asp-action="Delete" asp-route-id="@userEvent.Id" method="post">
                                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@userEvent.Id">Edit</a>
                                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

